/* Write your CSS code here */

.blog-heading-card {
  display: flex;
  justify-content: space-between;
}
.published-date {
  color: #9aa5b1;
  font-size: 10px;
  font-family: 'Roboto';
}
.description {
  color: #9aa5b1;
  font-size: 10px;
  font-family: 'Roboto';
}
